html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Aktiv Grotesk Corp Regular';
  line-height: 19.2px;
  background-color: #e5e5e5;
}
