@font-face {
  font-family: 'Aktiv Grotesk Corp Regular';
  src: url('../fonts/AktivGroteskCorp-Regular.woff') format('woff'),
    url('../fonts/AktivGroteskCorp-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Aktiv Grotesk Corp Medium';
  src: url('../fonts/AktivGroteskCorp-Medium.woff2') format('woff2'),
    url('../fonts/AktivGroteskCorp-Medium.woff') format('woff');
}
